@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Twinkle+Star&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  &.stop_scroll {
    overflow: hidden;
  }
  background-color: #141414;
}

.container {
  padding: 0px 3.9%;
  width: 100vw;
  background-color: #f6f2ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading {
  .logo {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
    opacity: 1;
  }
  .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    display: flex;

    .bar {
      width: 20vw;
      height: 105vh;

      background-color: #4bb92d;
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo {
    display: flex;
    justify-content: center;
    h3 {
      font-family: "Twinkle Star", cursive;
      font-size: 32px;
      padding: 10px;
      margin: 0px;
    }
  }
  .text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .img_1_tablet {
      display: none;
    }
    .desc_tablet_phone {
      display: none;
    }

    h1 {
      font-family: "Poppins";
      font-size: 7vw;
      font-weight: 300;
      letter-spacing: -4%;
      line-height: 113.8%;
      margin-bottom: 10px;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      .char {
        transform: translateY(115px);
        transition: transform .5s;
      }
    }
  }

  .imgs {
    position: relative;
    top: -8vh;
    .img_2_tablet {
      display: none;
    }
    img {
      width: 100%;
    }
    h5 {
      font-family: "Poppins";
      font-size: 1.75vw;
      font-weight: 300;
      position: relative;
      color: #000000;
      top: 5.5vw;
      left: 67.5%;
      letter-spacing: -4%;
      line-height: 113.8%;
    }
  }
}

.wrapper {
  background: linear-gradient(to right, #f0e5de, #c5e0da);
  width: 100vw;
  left: -3.9%;
  top: -5vh;
  margin-inline: auto;
  position: relative;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
  overflow: hidden;

  .item {
    border-radius: 6px;
    font-family: "poppins";
    text-transform: uppercase;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

.info {
  display: flex;
  flex-direction: row;
  gap: 5vw;

  .left {
    position: relative;
    top: -4vh;
    width: 40%;
    .icon {
      background: linear-gradient(to right, #fed9b7, #75e0e6);
      height: 4vw;
      width: 4vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2vw;
      position: relative;
      left: 87%;
      top: 4vw;
    }
    img {
      width: 100%;
    }
  }
  .right {
    position: relative;
    top: 4vh;
    width: 50%;
    h1 {
      font-family: "Poppins";
      letter-spacing: -4%;
      line-height: 113.8%;
      font-size: 5vw;
      font-weight: 500;
    }
    h2 {
      font-family: "Poppins";
      letter-spacing: -4%;
      line-height: 113.8%;
      font-size: 3.5vw;
      font-weight: 500;
    }
    .highlight {
      width: 45%;
      height: 7.5%;
      border-radius: 5vh;
      background-color: #00a597;
      position: relative;
      top: -7.5%;
      left: 13%;
      z-index: 1;
      opacity: .2;
    }
    h3 {
      font-family: "Poppins";
      letter-spacing: -4%;
      line-height: 113.8%;
      font-size: 2vw;
      font-weight: 500;
      position: relative;
      top: -7.5%;
    }
    img {
      position: relative;
      top: -5%;
    }
  }
}


@media (max-width: 1200px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
    padding: 0px 3.9%;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      display: flex;
      justify-content: center;
      h3 {
        font-family: "Twinkle Star", cursive;
        font-size: 32px;
        padding: 10px;
        margin: 0px;
      }
    }
    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .img_1_pc {
        display: none;
      }
      .img_1_tablet {
        display: block;
      }
      .desc_tablet_phone {
        display: block;
        font-family: "Poppins";
        font-size: 4vw;
        font-weight: 300;
        color: #000000;
        letter-spacing: -4%;
        line-height: 113.8%;
        padding-bottom: 10px;
      }

      h1 {
        font-family: "Poppins";
        font-size: 10vw;
        font-weight: 300;
        letter-spacing: -4%;
        line-height: 113.8%;
        margin-bottom: 10px;
      }
    }

    .imgs {
      position: relative;
      top: 2vh;
      .img_2_pc {
        display: none;
      }
      .img_2_tablet {
        display: block;
      }
      img {
        width: 100%;
      }
      h5 {
        display: none;
      }
    }
  }
  .wrapper {
    top: 4vh;
    height: 50px;

    .item {
      font-size: 16px;
    }
  }

  .info {
    position: relative;
    top: 4vh;

    .left {
      display: none;
    }

    .right {
      width: 100%;
      margin-bottom: 20vh;
      h1 {
        font-size: 10vw;
      }
      h2 {
        font-size: 7vw;
      }
      h3 {
        font-size: 5vw;
      }
      img {
        width: 100%;
      }
    }
  }
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item1 {
  animation-delay: calc(30s / 16 * (16 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 16 * (16 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 16 * (16 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 16 * (16 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 16 * (16 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 16 * (16 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 16 * (16 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 16 * (16 - 8) * -1);
}

.item9 {
  animation-delay: calc(30s / 16 * (16 - 9) * -1);
}

.item10 {
  animation-delay: calc(30s / 16 * (16 - 10) * -1);
}

.item11 {
  animation-delay: calc(30s / 16 * (16 - 11) * -1);
}

.item12 {
  animation-delay: calc(30s / 16 * (16 - 12) * -1);
}

.item13 {
  animation-delay: calc(30s / 16 * (16 - 13) * -1);
}

.item14 {
  animation-delay: calc(30s / 16 * (16 - 14) * -1);
}

.item15 {
  animation-delay: calc(30s / 16 * (16 - 15) * -1);
}

.item16 {
  animation-delay: calc(30s / 16 * (16 - 16) * -1);
}



/*-----------------------------------------------------
showcase.css
---------------------------------------------------------*/

.overlapping-gallery {
  h1 {
    font-family: "Poppins";
    font-size: 7vw;
    text-align: center;
    font-weight: 400;
    letter-spacing: -4%;
    line-height: 113.8%;
    margin-bottom: 10px;
  }
}

.img-mask {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	top:0;
	left: 0;
	margin: 0 auto;
	box-sizing: border-box;
	z-index: 0;
	overflow:hidden;
	border-radius:0px;		
	-webkit-transition: border-radius 0.4s ease-in-out 0s;
	transition: border-radius 0.4s ease-in-out 0s;
	border-radius: 12px;	
}


.section-image {
	position:relative;
	display:block;
	width:100%;
	height:100%;
}

.item-image {
	width:100%;
	height: 100%!important;
	position:relative;
	display:block;
	z-index:100;	
	object-position: center; 
	object-fit: cover;
}

/*--------------------------------------------------
Showcase Overlapping Gallery
---------------------------------------------------*/	

	
.overlapping-image {
  box-sizing:border-box;	
  position:relative;
  width:100%;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.overlapping-image-inner {
  width:100%;
  height:calc(100% - 120px);
  position: relative;
  cursor:pointer;
}

.overlapping-image:first-child .overlapping-image-inner {
  align-self:flex-start;
}

.overlapping-image:last-child {
  z-index:10;
}

.rounded-borders .overlapping-image img {
  border-radius:8px;
}

.overlapping-image .slide-caption {
  position:absolute;
  box-sizing:border-box;
  padding:80px;
  width:100%;
  height:100%;
  display:flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  pointer-events:none;
}

.overlapping-image .change-header .slide-caption {
  color: #000;
}

.overlapping-image .slide-caption .slide-title {
  font-size: calc(1rem + 8vw);
    line-height: calc(1rem + 7.5vw);
  font-weight: 500;
  overflow:hidden;
}

.overlapping-image .slide-caption span {
  display: block;
  margin-top:0;
}

.overlapping-image .slide-caption .slide-date {
  position: absolute;
  bottom: 80px;
  left: 80px;
  padding: 2px 16px;
  background: rgba(0,0,0,0.4);
  border-radius: 35px;
  font-size: 14px;
}

.overlapping-image .change-header .slide-caption .slide-date {
  color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

.overlapping-image .slide-caption .slide-cat {
  position:absolute;
  bottom:80px;
  right:80px;
  padding: 2px 16px;
  background: rgba(0,0,0,0.4);
  border-radius: 35px;
  font-size: 14px;
}

.overlapping-image .change-header .slide-caption .slide-cat {
  color: #fff;
    background: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1537px) {
	
	.gallery-zoom-wrapper {
		width: 40%;
		top: 100px;
		height: calc(100% - 280px);
	}
	
	.gallery-thumbs-wrapper {
		bottom: 30px;
	}
	
	.slide-hero-title {
		font-size: calc(1rem + 22.15vw);
    	line-height: calc(1rem + 20.5vw);
	}
	
	.slide-hero-subtitle {
		margin-top:30px;
	}
	
}

		

@media only screen and (max-width: 1466px) {
	
	/* Showcase Overlapping Gallery */
	
	.overlapping-image .slide-caption {
  		padding: 60px;
	}
	
	.overlapping-image .slide-caption .slide-date {
		bottom: 60px;
		left: 60px;
	}
	
	.overlapping-image .slide-caption .slide-cat {
		bottom: 60px;
		right: 60px;
	}

}


@media only screen and (max-width: 1024px) {	
	/* Showcase Overlapping Gallery */
	
	.overlapping-image .slide-caption {
  		padding: 40px;
	}
	
	.overlapping-image .slide-caption .slide-title {
		font-size: calc(1rem + 12vw);
		line-height: calc(1rem + 11.5vw);
	}
	
	.overlapping-image .slide-caption .slide-date {
		bottom: 40px;
		left: 40px;
	}
	
	.overlapping-image .slide-caption .slide-cat {
		bottom: 40px;
		right: 40px;
	}
	
}




@media only screen and (max-width: 767px) {
	/* Showcase Overlapping Gallery */
	
	.overlapping-image .slide-caption {
  		padding: 30px;
	}
	
	.overlapping-image .slide-caption .slide-title {
		font-size: calc(1rem + 13vw);
		line-height: calc(1rem + 12.5vw);
	}
	
	.overlapping-image .slide-caption .slide-date {
		top:30px;
		bottom: auto;
		left: 30px;
	}
	
	.overlapping-image .slide-caption .slide-cat {
		top:30px;
		bottom: auto;
		right: 30px;
	}
}


@media only screen and (max-width: 479px) {

	
	/* Showcase Overlapping Gallery */
	
	.overlapping-image .slide-caption {
  		padding: 20px;
	}
	
	.overlapping-image .slide-caption .slide-title {
		font-size: calc(1rem + 14vw);
		line-height: calc(1rem + 13.5vw);
	}
	
	.overlapping-image .slide-caption .slide-date {
		top:20px;
		bottom: auto;
		left: 20px;
	}
	
	.overlapping-image .slide-caption .slide-cat {
		top:20px;
		bottom: auto;
		right: 20px;
	}
	
}

  

.newsletter {
  padding: 10%;
  h3 {
    font-family: 'poppins';
    color: #f6f2ed;
    font-size: 5vw;
    text-align: center;
  }
}
